* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 2px solid #b30000;
}

header>div:nth-child(1) {
    display: flex;
    gap: 10px;
    color: #5b5c5c;
}

header>div:nth-child(1)>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>div:nth-child(1) button {
    background-color: transparent;
    border: none;
    padding: 0px 10px;
    color: #5b5c5c;
}

header>div:nth-child(1)>div img {
    width: 40px;
}

header>div:nth-child(1)>div span {
    font-size: 12px;
}

header>div:nth-child(2) img {
    width: 300px;
}

header>div:nth-child(3) {
    width: 150px;
}

header>div:nth-child(3) p {
    color: #b30000;
    font-weight: bold;
}

/* HEADER CAROUSEL */

#header-carousel {
    height: 700px;
    margin-bottom: 100px;
}

.header-carousel-item {
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.589);
}

.progress-bar-wrapper {
    width: 100%;
    height: 4px;
    background: #ddd;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
    transform: translateY(-100px)
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background: #cc0000;
    transition: width linear;
}


/* FIM HEADER CAROUSEL */

#div-destaque {
    margin-bottom: 100px;
}

#div-destaque-content {
    width: 80%;
    margin: auto;
}

#div-destaque-content>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 50px;
}

#div-destaque-content>div:nth-child(1) a {
    color: #cc0000;
    transition: all 150ms ease-in-out;
}

#div-destaque-content>div:nth-child(1) a:hover {
    color: #8d0101;
}

.div-destaque-item {
    width: 360px;
    height: 450px;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.233);
    cursor: pointer;
    flex-shrink: 0;
}

.div-destaque-item img {
    width: 100%;
}

.moto-info-item {
    background-color: rgba(128, 128, 128, 0.233);
    padding: 20px;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

#div-destaque-content .owl-next,
#div-destaque-content .owl-prev {
    background-color: #cc0000 !important;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 60px !important;
}

#div-destaque-content .owl-next span,
#div-destaque-content .owl-prev span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute !important;
    top: -10px;
}

#div-destaque-content .owl-next {
    right: 20px;
}

#div-destaque-content .owl-prev {
    left: 10px;
}

/* DIV HONDA BIZ */
#div-honda-biz {
    background-color: #f2f2f2;
    margin-bottom: 100px;
}

.div-honda-biz-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-honda-biz-row>div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-honda-biz-row>div>div {
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-honda-biz-row>div>div h1 {
    font-size: 35px;
}

.div-honda-biz-row>div>div p {
    font-size: 18px;
    color: #595959;
}

.div-honda-biz-row>div>div button {
    width: 220px;
    background-color: #cc0000;
    color: white;
    padding: 15px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

#div-bg-hover {
    height: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 150ms ease-in-out;
}

.div-honda-biz-row>div>div button:hover #div-bg-hover {
    height: 100%;
}

/* SERVIÇOS */

#div-servicos {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.servico-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.267);
    width: 552px;
    height: 494px;
    padding: 35px;
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #cc0000;
    color: white;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.servico-item:hover {
    background-size: 110%;
}


.servico-item>div {
    width: 100%;
}

.servico-item h1 {
    margin-bottom: 20px;
}

.servico-item>div>div {
    position: relative;
    height: 40px;
    width: 100%;
}

.p-servicos {
    transition: all 200ms ease-in-out;
    position: absolute;
    cursor: pointer;
}

.btn-servicos {
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 10px 70px;
    border: 1px solid white;
    transition: all 200ms ease-in-out;
    position: absolute;
    opacity: 0;
    transform: translateY(40px);
    cursor: pointer;
}

.btn-servicos:hover {
    background-color: rgba(255, 255, 255, 0.158);
}

.servico-item:hover .btn-servicos {
    opacity: 1;
    transform: translateY(0px);

}

.servico-item:hover .p-servicos {
    opacity: 0;
}

#div-servicos>.servico-item:nth-child(1) {
    background-image: url(../img/servico-honda-1.webp);
}

#div-servicos>.servico-item:nth-child(2) {
    background-image: url(../img/servico-honda-2.webp);

}

/* HONDA STORE */

#div-honda-store {
    background-color: rgb(242, 242, 242);
    display: flex;
}

#div-honda-store > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#store-content {
    width: 700px;
}

#store-content h1 {
    font-size: 35px;
}

#store-content p {
    color: #595959;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#store-content button {
    background-color: #cc0000;
     padding: 15px 20px;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

#div-bg-hover-store {
    height: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 150ms ease-in-out;
}

#store-content button:hover #div-bg-hover-store {
    height: 100%;
}